* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html,
#root {
  width: 100%;
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial;
  background: #f5f7fa;
  color: #333;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
li {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}
